<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Model.MemberDAO">

	<select id="selectRecommend" resultType="Model.WineVO">
		select * from info
	</select>

	<insert id="joinService" parameterType="Model.MemberVO">
		insert into member
		values(#{id}, #{pw},#{birth},#{gender},#{email},#{favorite})
	</insert>


	<select id="loginService" parameterType="Model.MemberVO"
		resultType="Model.MemberVO">
		select * from member where id = #{id} and pw = #{pw}
	</select>


	<select id="goInfo" resultType="Model.WineVO">
		select * from info
		where info_name = #{info_name}
	</select>
	<select id="goSell" resultType="Model.SellVO">
		select * from sell
		where sell_wine = #{sell_wine}
	</select>


	<insert id="writeBoard" parameterType="Model.BoardVO">
		insert into msg_board
		values(msg_bnum_seq.nextval,#{choose}, #{writer}, #{title}, #{content}, sysdate)
	</insert>

	<select id="selectBoard" resultType="Model.BoardVO">
		select * from msg_board
	</select>

	<select id="viewBoard" resultType="Model.BoardVO">
		select * from msg_board
		where num = #{num}
	</select>


	
	
	<select id="idCheck" resultType="Model.MemberVO">
		select * from member
		where id = #{id}
	</select>
	<update id = "updateService" parameterType="Model.MemberVO" >
		update member set pw =#{pw}, birth=#{birth}, gender= #{gender},email= #{email},favorite= #{favorite} where id = #{id}
	</update>
	
	
</mapper>