<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Model.MemberDAO">

	<select id="selectRecommend" resultType="Model.WineVO">
		select * from msg_board
	</select>
	
	<insert id = "joinService" parameterType="Model.MemberVO">
		insert into member1 values(#{id}, #{pw})
	</insert>


	<select id = "loginService" parameterType="Model.MemberVO" resultType="Model.MemberVO">
		select * from member1 where id = #{id} and pw = #{pw}
	</select>
	
</mapper>